@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-up {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down {
  to {
    transform: translateY(10px);
  }
}

.hover-bounce:hover {
  animation: bounce 1s;
}

.bl-btm {
  mask-image: linear-gradient(black 80%, transparent);
}
