// Define breakpoints
$breakpoint-md: 992px;

// Utility class for showing elements on small screens only
.small-screen {
  display: none !important;

  @media (max-width: $breakpoint-md) {
    display: flex !important;
  }
}

// Utility class for showing elements on large screens only
.large-screen {
  display: none !important;

  @media (min-width: $breakpoint-md) {
    display: flex !important;
  }
}

// Utility class for changing flex direction on small screens
.flex-row-lg-column-sm {
  flex-direction: row !important;

  @media (max-width: $breakpoint-md) {
    flex-direction: column !important;
  }
}

.w-50-lg-w-100-sm {
  width: 50% !important;

  @media (max-width: $breakpoint-md) {
    width: 100% !important;
  }
}

.w-25-lg-w-50-sm {
  width: 25% !important;

  @media (max-width: $breakpoint-md) {
    width: 50% !important;
  }
}

.w-40-lg-w-90-sm {
  width: 40% !important;

  @media (max-width: $breakpoint-md) {
    width: 90% !important;
  }
}

.img-sm-100-lg-200 {
  width: 200px !important;
  height: 200px !important;

  @media (max-width: $breakpoint-md) {
    width: 100px !important;
    height: 100px !important;
  }
}

@mixin ellipsis-text($lines: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $lines;
}

.ellipsis-text-3-lines {
  @include ellipsis-text(3);
}
.ellipsis-text-5-lines {
  @include ellipsis-text(5);
}
