// Define breakpoints
$breakpoint-md: 992px;

// Utility class for showing elements on small screens only
.small-screen {
  display: none !important;

  @media (max-width: $breakpoint-md) {
    display: flex !important;
  }
}

// Utility class for showing elements on large screens only
.large-screen {
  display: none !important;

  @media (min-width: $breakpoint-md) {
    display: flex !important;
  }
}

// Utility class for changing flex direction on small screens
.flex-row-lg-column-sm {
  flex-direction: row !important;
  
  @media (max-width: $breakpoint-md) {
    flex-direction: column !important;
  }
}

.w-50-lg-w-100-sm {
  width: 50% !important;

  @media (max-width: $breakpoint-md) {
    width: 100% !important;
  }
}
